__pycache__
.vscode 
Alt
case246 scene
foundation-cancer-image-biomarker
mhub_tutorial_001
multi-container-app
pancreas_data
PDAC-Response
welcome-to-docker
PDAC response.zip
PDAC response/
remove soon.txt
Pre-treatment-only-pres.zip
Pre-treatment-only-pres/
model_weights.torch
imageSegmentationMultipleSingleSlice.py
Tests
.venv
researchpip/
padding10.png 
padding5.png 
threeDresearchpip/
Patient_wise_CNN.ipynb
preprocessCombinations/*
preprocessCombinationsOld/*
ToDashti.zip
ToDashti/*
abstractResults.zip
imageSegmentation2Classes3D.ipynb
twoClassClassification3d.ipynb
getBestAverages.ipynb
key.txt